<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.CodingErgo.sticker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
     to be able to query the whitelist status in WhatsApp 
     https://developer.android.com/training/basics/intents/package-visibility#package-name
    -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:name=".StickerManager.StickerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:grantUriPermissions="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TestPackage.testAcitivity"></activity>
        <activity
            android:name=".MyManager.MyDownloadManager"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".MyManager.PermissionRequest"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WhatsappStatus.status" />
        <activity android:name=".WhatsappStatus.download" />
        <activity
            android:name=".StickerManager.EntryActivity"
            android:theme="@style/AppTheme2">
        </activity>
        <activity android:name=".StickerManager.StickerPackListActivity" />
        <activity
            android:name=".StickerManager.StickerPackDetailsActivity"
            android:parentActivityName=".StickerManager.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CodingErgo.sticker.StickerManager.StickerPackListActivity" />
        </activity>
        <activity
            android:name=".StickerManager.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName=".StickerManager.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CodingErgo.sticker.StickerManager.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name=".StickerManager.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.whatsapp.sticker.READ"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mypath"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>